
html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.base {
    background-color: #474B4F;
    color: rosybrown;
    padding-left: 30%;
    font-size: 20px;
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
    height: auto;
    bottom: 0;
    position: relative;
    width: 100%;
    display: block
}


.row{

}

.btn-info {
    width: 45%;
    outline: solid;
    color: white;
    margin-left:9%;
    text-transform: uppercase;
    font-weight: 900;
}

.btn-outline-info {
    width: 100%;
    outline: solid;
    border: 2px solid;
    color: rosybrown;
    text-transform:uppercase;
    font-weight:900;
    margin-top:3%;
}

.title {
    text-align: center;
}

h1{
    font-weight:700;
    letter-spacing:3px; 
    word-spacing:4px;
    font-family:Arial;
    text-transform:uppercase;
}

.list-group-item {
    background-color: #6B6E70;
}





