
html {
    height: 100%;
}

body {
    min-height: 100%;
}

.base {
    background-color: #474B4F;
    color: rosybrown;
    font-size: 20px;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Times New Roman', Times, serif;
    bottom: 0;
    width: 100%;
}


.row{
    
}

.holidays {
    width:20%;
    margin-top:3%;

}
.list-group-item {
    background-color: #6B6E70;
}

.btn-info {
    width: 100%;
    outline: solid;
    color: white;
    margin-left: 9%;
    text-transform: uppercase;
    font-weight: 900;
}

.table {
    margin-top:2%;
    text-align:center;
}

.table-head {
    background-color: rosybrown;
    border:1px solid yellow;
}

.table-body {
    background-color: #6B6E70;
    color: white;
}

.btn-outline-info {
    width: 100%;
    outline: solid;
    border: 2px solid;
    color: rosybrown;
    text-transform: uppercase;
    font-weight: 900;
}

.buttons-index{
    margin-top:1%;
}

