html {
    height: 100%;
    background-color: #474B4F;
}



body {
    min-height: 100%;
    background-color: #474B4F;
}

.base-helper {
    height: 400px;
    background-color: #474B4F;
}


/*.navbar-expand-sm {
    margin-left: 10%;
}*/

.navbar .nav-item .nav-link{
    color: rosybrown!important;
}

.navbar {
    border-bottom:solid 1px rosybrown!important;
}